<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="box">
        <h1 class="title">AppName</h1>
        <h2 class="subtitle">description</h2>
    </div>

    <div class="box">
        <div class="tabs">
            <ul>
                <li ><a>Env</a></li>
                <li class="is-active"><a>Artifacts</a></li>
                <li><a>Deployments</a></li>
                <li><a>Pipelines</a></li>
                <li><a>Tests</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" placeholder="Find a repository">
                </div>
                <div class="control">
                    <a class="button is-info">
                        Search
                    </a>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>BuildNumber</th>
                    <th>Name</th>
                    <th>VersionNumber</th>
                    <th>Pipeline</th>
                    <th>Commit</th>
                    <th>Tests</th>
                    <th>Deployed</th>
                    <th>Usage</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>1</th>
                    <th>app.jar</th>
                    <th>v2.1.1</th>
                    <th><a href="#">pipeline-11</a></th>
                    <th>
                        commit-id<br/>
                        commit-msg
                    </th>
                    <th><a href="#">test-11</a></th>
                    <th>
                        <div class="field is-grouped is-grouped-multiline">
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag is-dark">SIT</span>
                                    <span class="tag is-info">0.9.3</span>
                                </div>
                                <div class="tags has-addons">
                                    <span class="tag is-dark">UAT</span>
                                    <span class="tag is-info">0.10.1</span>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
                </tbody>
            </table>



        </div>

    </div>
</section>
</body>
</html>